.footer {
  --footer-color: white;
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: var(--footer-color);
  text-align: center;
}
  
.footer a {
  color: var(--footer-color)
}

.footer a:hover {
  --footer-color: deeppink;
}

